# Database Credentials
MSSQL_SA_PASSWORD=YourStrongPasswordHere

# JWT Configuration (Min 64-character base64 secret)
JWT_SECRET=your_jwt_secret_key_here
JWT_ISSUER=TheIssuerHere
JWT_AUDIENCE=TheIntendedAudienceHere

# Admin Seeding
ADMIN_DEFAULT_EMAIL=admin@example.com
ADMIN_DEFAULT_PASSWORD=TheAdminPasswordHere